* {
    padding: 0;
    margin: 0;
}

body {
    background-color: teal;
    align-items: center;
}

.buttons_1 {
    height: 500px;
    width: 500px;
    align-items: center;
    background-color: antiquewhite;
}

.buttons_1 h2 {
    align-items: center;
    color: #111;
    font-size: 40px;
}

.btn {
    display: inline-block;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.btn:hover {
    background-color: saddlebrown;
}

.btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#demo {
    height: 100px;
    width: 100px;
    position: relative;
    background-color: teal;
    margin-top: 40px;
}